.page {
    width: 100%; 
    align-items: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.searchbar {
    display: flex;
    flex-direction: row;
    width: 60%;

    &.h2 {
        align-self: left;
    }
}

