.page {
    width: 100%; 
    align-items: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.searchInput {
    border-radius: 15px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.searchInput button{
    border-radius: 15px;
    padding: .5rem;
    margin-left: 1rem;
    background-color: rgb(110, 154, 192);
    color: white;
    border: none;
    transition: background-color 0.3s;
    font-size: large;
}

.searchInput button:hover{
    background-color: lightblue;
}


.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.h2 {
        align-items: center;
        
    }
}
